.wrapper{
	width: 550px;
	margin: 10px auto;
}
header{
	outline: 1px solid black;
	height: 50px;
}

footer{
	outline: 1px solid black;
	height: 50px;
}

.content{
	outline: 1px solid black;
	height: 450px;
}

.child_left_column{
	outline: 1px solid black;
	height: 80px;
	width: 150px;
	margin-bottom:15px;
	margin-left: 10px;
}

#left_column{
	margin: 20px;
	float: left;
	width: 150px;
	flex-direction: column;
}

#mid_column{
	margin-left: 15px;
	margin-top: 20px;
	float: left;
	outline: 1px solid black;
	height: 300px;
	width: 200px;
}

#right_column{
	margin: 20px;
	float: left;
	outline: 1px solid black;
	height: 300px;
	width: 90px;
}



